@model Fitness_Tracker.Models.GuifinalUser
@{
    ViewData["Title"] = "View Info";
}

<h1 class="text-center">View your information</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>ID</label>
            </th>
            <th>
                <label>Start Weight</label>
            </th>
            <th>
                <label>Current Weight</label>
            </th>
            <th>
                <label>Desired Weight</label>
            </th>
            <th>
                <label>Height</label>
            </th>
            <th>
                <label>Gender</label>
            </th>
            <th>
                <label>Activity Level</label>
            </th>
            <th>
                <label>Birthday</label>
            </th>
            <th>
                <label>Age</label>
            </th>
            <th>
                <label>Calories to lose Weight</label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
        </tr>
    </tbody>
</table>